// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//share
@import "../share/css/share.min";
// select2
@import "../css/select/select2";
// animate
@import "../css/animate/animate";
// nprojress
@import "../css/nprojress/nprojress";

/* universal */

body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  //border-top: 4px solid #00b5ad;
  margin-bottom: 40px;
  margin-top: 0px;
  .dropdown-menu {
    padding: 0px;

    li a {
      border-bottom: 1px solid #d8d8d8;
      line-height: 2.4;

      .glyphicon {
        margin-right: 8px;
      }
    }
  }
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/*User register page*/
.register.page {
  img.captcha {
    margin-bottom: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
}

/* User profile page */
.users-show-page, .users-votes-page, .users-followers-page, .users-votes-page, .users-topics-page,.users-edit-page,
.users-edit_avatar-page, .users-edit_password-page, .users-replies-page,.users-followings-page{
  .user-info {
    .thumbnail {
      margin-bottom: 0px;
    }
  }

  .nav-tabs {
    margin-bottom: 20px;

    > li.active > a {
      background-color: #fff;
    }
  }

  .list-group {
    .list-group-item {
      border: none;
      margin-bottom: 0px;
      border-bottom: 1px solid #efefef;

      .meta {
        color: #b3b3b3;
      }
    }
  }

  .pagination {
    margin: 12px 0;
  }

  .meta {
    font-size: .9em;
    color: #b3b3b3;
  }
  .reply-content {
    margin: 6px 0;
  }
}

/* Topic Index Page */
.topics-index-page, .categories-show-page, .root-page {
  .topic-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }
    a {
      color: #444444;
    }
    .meta {
      font-size: 0.9em;
      color: #b3b3b3;
      a {
        color: #b3b3b3;
      }
    }
    .badge {
      background-color: #d8d8d8;
    }
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}

/* Topic Show Page */

@import "topic_body";

.topics-show-page {

  .panel {
    padding: 15px;

    h1 {
      margin: 0.4em auto 0.6em;
      font-size: 28px;
      line-height: 38px;
    }
  }
}

.topic-reply {
  hr {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  a {
    color: inherit;
  }
  .mata {
    font-size: .9em;
    color: #b3b3b3;
  }
}

/* Notifications badge */

.notifications-badge {
  margin-top: -1;

  .badge-fade {
    background-color: #EBE8E8;
  }

  .badge-hint {
    background-color: #d15b47 !important;
  }
}

/* Sidebar */

.sidebar {
  .panel-body {
    padding: 12px;
  }

  hr {
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .active-users {
    a.media {
      color: #797878;
      line-height: 26px;
      font-size: 0.9em;
    }
  }
}

#scrollUp {
  background-image: url("../../../public/assets/images/top.png");
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 38px;
  text-indent: -999999px;
}

//_box_zan
.votes-container {
  padding-top: 15px;
}

.padding-md {
  padding: 15px;
}

.vote-box {
  padding: 6px 20px;
}

.or {
  position: relative;
  float: left;
  width: .3em;
  height: 2.57142em;
  z-index: 3;
}

.or:before {
  position: absolute;
  text-align: center;
  border-radius: 500rem;
  content: 'or';
  top: 50%;
  left: 50%;
  background-color: #fff;
  text-shadow: none;
  margin-top: -.922855em;
  margin-left: -.802855em;
  width: 1.78571em;
  height: 1.78571em;
  line-height: 1.78571em;
  color: rgba(0, 0, 0, 0.4);
  font-style: normal;
  font-weight: 700;
  -webkit-box-shadow: 0 0 0 1px transparent inset;
  box-shadow: 0 0 0 1px transparent inset;
}

.voted-users {
  padding: 25px 12px 5px;
}

.voted-users .avatar {
  margin: 4px;
}

.avatar-middle {
  width: 50px;
  height: 50px;
}

.emoji {
  width: 1.6em;
  display: inline-block;
  margin-bottom: 0;
  margin-top: -5px;
  margin-left: 5px;
}

.user-basic-nav a {
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}

.user-basic-nav a:hover,
.user-basic-nav a.active {
  color: #05a1a2;
}

.user-basic-nav .list-group-item i.fa {
  margin-right: 7px;
}

.padding-sm {
  padding: 10px;
}

.box {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0 .2em 0 0 #ddd, 0 0 0 1px #ddd;
  box-shadow: 0 .2em 0 0 #ddd, 0 0 0 1px #ddd;
}

.avatar-preview-img {
  padding: 3px;
  border: 1px solid #c8dcdb;
  border-radius: 6px;
}

.search-input {
  background-image: url("../../../public/assets/images/icon-search.png");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 25px;
  border: 1px solid #c6c6c6;
  box-shadow: none;
  transition: all 0.25s ease-in 0s;
}

.navbar-form .mac-style {
  width: 200px;
}

.navbar-form .mac-style:focus {
  width: 220px;
}

.search-results {
  padding: 20px;
  line-height: 25px;
}

.search-results .panel-heading h3 {
  color: #696969;
  font-size: 15px;
  margin-bottom: 12px;
}

.search-results a {
  color: #333;
}

.search-results .result {
  margin-bottom: 20px;
}

.search-results .user.result {
  margin-top: 8px;
  margin-bottom: 0px;
}

.search-results .result em {
  color: #EB5424;
  font-style: normal;
}

.search-results .result .title {
  font-size: 18px;
}

.search-results .result .title .badge {
  background: #EBEDEE;
  color: #9A9DA0;
  font-weight: normal;
  font-size: 12px;
  margin-left: 4px;
}

.search-results .result .info {
  margin-bottom: 6px;
  font-size: 12px;
}

.search-results .result .info .url a {
  color: #23863F;
}

.search-results .result .info .date {
  color: #999;
  margin-left: 8px;
}

.search-results .result .desc {
  color: #666;
  font-size: 14px;
  word-break: break-all;
}

.search-results .result .desc em {
  color: #F86334;
}

.search-results .user .info {
  margin-top: 4px;
  font-size: 14px;
}

.search-results .user .info.number {
  color: #666;
  font-size: 13px;
}

.search-results .highlight {
  color: #e07b7a;
}

.search-results .role-label {
  display: inline-block;
  position: absolute;
}

.search-results .role-label a.label {
  font-size: 85%;
  font-weight: 100;
  padding: 0.2em 1em .2em;
  position: relative;
  margin: 8px;
  color: #fff;
}

.search-results .user-info {
  padding-top: 8px;
  padding-left: 8px;
}

.search-results hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-results .list-panel .panel-body {
  padding: 0px;
}

.search-results .user.result .info .role-label {
  position: relative;
}

.search-results .avatar-small {
  width: 26px;
  height: 26px;
}

// use basic info
.users-show-page .follow-info {
  text-align: center;
  margin-top: 15px;
}


.users-show-page  .media-heading {
    margin: 10px 0px;
}

.users-show-page .follow-info a {
    display: block;
    text-decoration: none;
}

.users-show-page .follow-info a.counter {
    font-size: 32px;
    color: #00b5ad;
}

.users-show-page .follow-info a.counter:hover {
    color: #00c4bc;
}

.users-show-page  .follow-info a.text {
    color: #999;
}


// users follower
.users-followers-page, .users-votes-page, .users-topics-page, .users-replies-page
,.users-followings-page{
  .follow-info {
    text-align: center;
    margin-top: 15px;
  }

  .media-heading {
    margin: 10px 0px;
  }

  .follow-info a {
    display: block;
    text-decoration: none;
  }

  .follow-info a.counter {
    font-size: 32px;
    color: #00b5ad;
  }

  .follow-info a.counter:hover {
    color: #00c4bc;
  }

  .follow-info a.text {
    color: #999;
  }
}


